.NavProp {
    position:fixed;
    width:100%;
    z-index: 1000;
  }

.NavProp ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }

.NavProp li {
    float: left;
    margin: 5px 15px
  }

.clickable {
    cursor: pointer;
}